<p><strong>Hey, you can get in touch with me via one of these ways:</strong></p>
<ul>
  <li><a href="mailto:dmitryjum@gmail.com">Email</a></li>
  <li><a href="https://github.com/dmitryjum/">GitHub</a></li>
  <li><a href="http://www.linkedin.com/in/dmitryjum/">LinkedIn</a></li>
</ul>
<p><strong>Or visit my personal web page <a href="http://www.dmitryjum.com">www.dmitryjum.com</a></strong></p>