<h1>Welcome to Skydiving Logbook!</h1>
<p>Skydive Pages is a management tool for people involved in the sport of Skydiving. It logs completed jumps, structures their details such as location, aircraft, gear used, exit altitude, freefall time, as well as associated pictures and videos taken during those jumps. It allows users to share jump info/pictures/videos with other users. This is an ongoing project, and features like calendar of events, picture/video comments are currently in progress.</p>
<br />
<h2>A little bit about me</h2>
<p>Hey all, my name is Dmitry Jum. I was born and raised in Belarus. I moved to America in 2008, and to New York City in 2009. I've always been interested in action sports, computer technologies, languages and psychology. I have studied at Linguistic University in Minsk, Belarus and I speak English and Russian fluently. I am a self driven, outgoing person, always looking for new challenges to overcome and problems to solve. For the last few years, I have worked as a moving company sales person and estimator, which greatly improved my communication skills. Recently, I completed a 12 week web development immersive course at General Assembly. While there, I acquired skills in programming languages such as Ruby and JavaScript, and built web applications using Rails and Backbone.js frameworks. And I am licensed skydiver as well and usually jump at Skydive the Ranch, so you can find me there.</p>
<br />
<p><strong>Hey, you can get in touch with me via one of these ways:</strong></p>
<ul>
  <li><a href="mailto:dmitryjum@gmail.com">Email</a></li>
  <li><a href="https://github.com/dmitryjum/">GitHub</a></li>
  <li><a href="http://www.linkedin.com/in/dmitryjum/">LinkedIn</a></li>
</ul>
<p><strong>Or visit my personal web page <a href="http://www.dmitryjum.com">www.dmitryjum.com</a></strong></p>