<div class="picture_show">
  <%= image_tag @picture.picture_url %>
  <% if current_user.id == @jump.user_id %>
    <%= button_to "Delete this picture",
     picture_path(@picture, jump_id: params[:jump_id]),
      method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
</div>