<h2>These are the jumps for this day: </h2>
<ul>
  <% if params[:owner] == "mine" %>
    <% @my_jumps.each do |j| %>
      <li><%= link_to "Jump#  #{j.jump_number}. Location: #{j.location}", jump_path(j) %></li>
    <% end %>
  <% elsif params[:owner] == "others" %>
    <% @other_jumps.each do |j| %>
      <li><%= link_to "Jump#  #{j.jump_number}. Location: #{j.location}", jump_path(j) %></li>
    <% end %>
  <% end %>
</ul>
<br />
<strong><%= link_to "Get back to the calendar", user_path(@user) %></strong>