<p><strong>These are the jumps for this day: </strong></p>
<ul id="accordion">
  <% if params[:owner] == "mine" %>
    <% @my_jumps.each do |jump| %>
      <%= render "jumps/list", jump: jump %>
    <% end %>
  <% elsif params[:owner] == "others" %>
    <% @other_jumps.each do |jump| %>
      <%= render "jumps/list", jump: jump %>
    <% end %>
  <% end %>
</ul>
<script type="text/javascript">
  $(function(){
    addVideoContent();
    addPictureContent();
    deleteJumpJumpday("<%= @user.id %>");
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
</script>